@font-face {
    font-family: jaapokki-regular;
    src: url('/fonts/jaapokki-regular.ttf');
}

.logo {
	background-color: #e65000!important;
}
.logo img {
	height: 40px;
}

.navbar {
	background-color: #ff6d20!important;
}

.user-header {
	background-color: #222d32!important;
}

footer {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: black;
	text-decoration: none;
}
footer img {
	height: 30px;
}
footer i {
	margin-left: 12px;
}
footer i::before {
	font-size: 25px;
}
footer h4 {
	font-family: jaapokki-regular;
	font-weight: 300;
	margin-right: 12px;
}

/* Side Bar Menu */
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
	border-left-color: #ff6d20;
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    background: #2C3B41;
}
